# visual studio code
.vscode

# doing it on windows, sadly...
*.exe

# ...but sometimes also on linux ^^
*.out

# I found out that authors don't like the parcticipants
# to have puzzle inputs in their repos :(
*.txt